p {
  font-family: Handjet;
  text-align: center;
  column-rule: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.New {
  color: rgb(211, 104, 66);
  font-size: x-small;
  font-weight: bold;
}
.Macbook {
  font-size: large;
  font-weight: bolder;
}
.Supercharged {
  font-size: xx-large;
  font-weight: bolder;
}
.From {
  font-size: small;
  font-weight: light;
}
.Buy {
  background-color: rgb(42, 90, 192);
  color: white;
  border: none;
  padding-left : 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  font-family: Handjet;
  
}
.first {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.usd {
  color: rgb(180, 180, 180);
  text-align: left;
}
.second {
  color: rgb(80, 174, 80);
  text-align: left;
}
.third {
  color:rgb(180, 180, 180);
  text-align: left;
}
.fourth {
  color: rgb(239, 69, 69);
  text-align: left;
}